.card {
	margin: 1rem auto;
	border-radius: 60px;
	background-color: white;
	padding: 1rem;
	/* width: 100%; */
	max-width: 40rem;
	border-color: aqua;
	width: 600px;
	height: 702px;
	background-color: aqua;
}
